@charset "utf-8";
/* CSS Document */

html {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding:0;
}

/* unvisited link */
a:link {
	text-decoration: none;
	color:black;
}

/* visited link */
a:visited {
	text-decoration: none;
	color:black;
}

/* mouse over link */
a:hover {
	text-decoration:none;
	color:black;
}
a:hover #vita{
	text-decoration:none;
	color:black;
}

/* selected link */
a:active {
	text-decoration: none;
}

/************************************* this is the front greeting page div **********************************************/
/* this is the home page icon table feature */
.b1{
	text-align: center;
	color:black;
    vertical-align:middle;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;


}

/* this is the space between b1 */
.b2{
	text-align: center;
	color:black;
    vertical-align:middle;
}

/* this is the text in the center as greeting*/
.tt {
  font: 300 100px/1.2 'Leckerli One', Helvetica, sans-serif;
  color: #FF7619;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2); 
}

/* this is the black page in the back*/
#bg_home{
	display: table;
	position: absolute;
	background-color:black;
	height:100%;
	width:100%;
}

/* this set div into vertical middle*/
.middle {
    display: table-cell;
    vertical-align: middle;
}

/* this is the background setting and hover large size setting*/
#ttt{
    background: url(hw4_ttt.jpg);
    background-size: 155px 155px;
    background-repeat: no-repeat;
	opacity:0.5;
}

#ttt:hover{
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
    background: url(hw4_ttt.jpg);
    background-size: 205px 205px;
    background-repeat: no-repeat;
	opacity:1;
}

#ppk{
    background: url(hw4_p.jpg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
	opacity:0.5;
}

#ppk:hover{
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
    background: url(hw4_p.jpg);
    background-size: 205px 205px;
    background-repeat: no-repeat;
	opacity:1;
}
/********************************************* end of the front greeting page div **************************************/

/* this is the whole picture of 9 squares */
#container {
	margin: auto;
}

/* this is the individual sq */
.square {
	float: left;
	width: 200px;
	height: 200px;
	border: 4px solid #813772;
	background-color:#FFFFFF;
	text-align: center;
	line-height: 30px;
}

/* this is the background when the ttt game in on */
#bg_play{
	display: table;
	position: absolute;
	background-color:#813772;
	height:100%;
	width:100%;
}

/* this is the picture after one party won */
#xsn{
	background-image:url(xsn.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
	display: none;
	position: absolute;
	height:100%;
	width:100%;
	z-index:2;
}

/* this is the back-to-main-menu button */
#back_to{
	position:absolute;
	top:50%;
	left:10%;
	display:none;
	color:white;
	font-family: Arial;
	background-color:black;
	border:0px;
	font-size:20px;
}
	
#frie{
	position:absolute;
	top:70%;
	left:10%;
	display:block;
	color:white;
	font-family: Arial;
	background-color:black;
	border:0px;
	font-size:20px;
}
	
	
	
	
	
	
	